# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/

# Distribution
/build/
dist/
*.egg-info/
.venv/
venv/
!/packages/python/code-review-buddy/build/

# Environment rules
rules/

